*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
/shelf/*
workspace.xml

sequence.json
lock
coap_server
ignored/
temp/

maabe-go/maabe.aar
maabe-go/maabe-sources.jar
IoT_controller/.idea/*
IoT_controller/app/src/main/java/com/iot_controller/Edhoc/*
IoT/coap_server
